<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Billing System</display-name>

    <!-- BillingServlet -->
    <servlet>
        <servlet-name>BillingServlet</servlet-name>
        <servlet-class>controller.BillingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BillingServlet</servlet-name>
        <url-pattern>/billing</url-pattern>
    </servlet-mapping>



    <!-- Example: Other servlets can go here -->
    <!--
    <servlet>
        <servlet-name>UpdateBillStatusServlet</servlet-name>
        <servlet-class>controller.UpdateBillStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateBillStatusServlet</servlet-name>
        <url-pattern>/updateBillStatus</url-pattern>
    </servlet-mapping>
    -->

    <!-- Welcome page -->
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
